*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Ta bort all default margin och padding samt gör box-sizing till border-box*/
}
body {
    min-height: 95vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, rgb(121, 81, 11), rgb(32, 16, 90), rgb(23, 12, 67), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
/*header*/
.greeting-header {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5vh 15vw;
    padding: 15px 0;
    border: double 0.5vw yellow;
    border-radius: 10px;
    text-align: center;
}
.welcome-txt {
    font-size: 3vw;
}
/*Search Input and Button*/
.search-section {
    text-align: center;
}
.input, #searchButton {
    display: inline-block;
    margin-top: 10px;
    padding: 0 1vw;
    width: 20vw;
    height: 6vh;
    border: ridge 0.5vh yellow;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    font-size: 1vw;
    color: white;
}
.input:focus {
    outline: none;
}
#searchButton {
    width: 4vw;
    line-height: 0;
}
#searchButton:hover {
    cursor: pointer;
    color: yellow;
    background-color: rgba(200, 200, 200, 0.2);
}
/*Result box*/
#results {
    display: inline-block;
    max-width: 80vw;
    margin: 20px 10px;
    padding: 10px;
    text-align: left;
}
#results h3 {
    text-align: center;
    font-size: 2vw;
}
#results p {
    margin: 10px;
    font-size: 1.1vw;
}
#results .desc {
    font-size: 1.3vw;
}
.desc {
    text-align: center;
}
/*The box that contains the solar system and their .planet and h2*/
.solsystem {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.circleman {
    display: flex;
    flex-flow: column;
    margin: 20px;
    margin-bottom: 0;
}
.planet {
    align-self: center;
    margin: 20px 0;
}
.solen .planet {
    height: 400px;
    width: 400px;
    background-color: orange;
    border-radius: 50%;
}
.merk .planet {
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
}
.venus .planet {
    height: 40px;
    width: 40px;
    background-color: pink;
    border-radius: 50%;
}
.jord .planet {
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
    border-radius: 50%;
}
.mars .planet {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
}
.jupi .planet {
    height: 200px;
    width: 200px;
    background-color: coral;
    border-radius: 50%;
}
.satur .planet {
    position: relative;
    height: 130px;
    width: 130px;
    background-color: burlywood;
    border-radius: 50%;
}
.ring {
    position: absolute;
    bottom: -32px;
    right: 52px;
    height: 200px;
    width: 25px;
    rotate: 30deg;
    background-color: grey;
    border-radius: 50%;
}
.anus .planet {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
}
.nept .planet {
    height: 100px;
    width: 100px;
    background-color: slategrey;
    border-radius: 50%;
}

.solarname {
    align-self: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px yellow solid;
    border-radius: 5px;
    background-color: black;
}
/*Select and hide tags*/
.select {
    animation: found 2s forwards;
}
.hide {
    animation: gone 2s forwards;
    pointer-events: none;
}
/*Animation for select and hide*/
@keyframes gone {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.5;
        transform: scale(0.5);
        transform-origin: center;
    }
}
@keyframes found {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
        transform-origin: center;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/*Media changes*/
/*Laptop*/
@media screen and (max-width: 1900px) {
    /*Solar System SVG height and width change*/
    .solen .planet {
        height: 170px;
        width: 170px;
    }
    .merk .planet {
        height: 20px;
        width: 20px;
    }
    .venus .planet {
        height: 40px;
        width: 40px;
    }
    .jord .planet {
        height: 50px;
        width: 50px;
    }
    .mars .planet {
        height: 30px;
        width: 30px;
    }
    .jupi .planet {
        height: 120px;
        width: 120px;
    }
    .satur .planet {
        height: 80px;
        width: 80px;
    }
    .ring {
        bottom: -25px;
        right: 30px;
        height: 130px;
        width: 15px;
    }
    .anus .planet {
        height: 70px;
        width: 70px;
    }
    .nept .planet {
        height: 70px;
        width: 70px;
    }
}
/*Mobile*/
@media screen and (max-width: 450px) {
    /*Header Box border size change*/
    .greeting-header {
        border: 2px yellow double;
    }
    /*Solat system Box margin change*/
    .circleman {
        margin: 0;
    }
    /*Solar system .planet height and width change*/
    .solen .planet {
        height: 50px;
        width: 50px;
    }
    .merk .planet {
        height: 50px;
        width: 50px;
    }
    .venus .planet {
        height: 50px;
        width: 50px;
    }
    .jord .planet {
        height: 50px;
        width: 50px;
    }
    .mars .planet {
        height: 50px;
        width: 50px;
    }
    .jupi .planet {
        height: 50px;
        width: 50px;
    }
    .satur .planet {
        height: 50px;
        width: 50px;
    }
    .ring {
        bottom: -15px;
        right: 20px;
        height: 80px;
        width: 10px;
    }
    .anus .planet {
        height: 50px;
        width: 50px;
    }
    .nept .planet {
        height: 50px;
        width: 50px;
    }
    /*Solar system h2 font-size change*/
    .solarname {
        font-size: 10px;
    }
    /*Result box changes*/
    #results {
        margin: 10px;
        padding: 10px 0;
    }
    #results h3 {
        font-size: 15px;
    }
    #results p, #results .desc {
        font-size: 10px;
    }
    /*Input and searchbutton changes*/
    .input, #searchButton {
        width: 20vw;
        height: 5vh;
        padding: 10px;
        border: ridge 2px yellow;
        font-size: 2vw;
        vertical-align: middle;
    }
    #searchButton {
        width: 10vw;
    }
}