*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 95vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, rgb(121, 81, 11), rgb(32, 16, 90), rgb(23, 12, 67), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.greeting-header {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5vh 15vw;
    padding: 15px 0;
    border: double 0.5vw yellow;
    border-radius: 10px;
    text-align: center;
}
.welcome-txt {
    font-size: 4vw;
}
.search-section {
    text-align: center;
}
.input, #searchButton {
    display: inline-block;
    padding: 0 1vw;
    width: 20vw;
    height: 6vh;
    border: ridge 0.5vh yellow;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    font-size: 1vw;
    color: white;
}
.input:focus {
    outline: none;
}
#searchButton {
    width: 4vw;
}
#searchButton:hover {
    cursor: pointer;
    color: yellow;
    background-color: rgba(200, 200, 200, 0.2);
}
#results {
    margin: 20px 10px;
    padding: 10px;
    text-align: left;
}
#results h3 {
    text-align: center;
    font-size: 2vw;
}
#results p {
    margin: 10px;
    font-size: 1vw;
}
.solsystem {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.circleman {
    display: flex;
    flex-flow: column;
    margin: 20px;
    margin-bottom: 0;
}
.circleman svg {
    align-self: center;
}
.solarname {
    align-self: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px yellow solid;
    border-radius: 5px;
    background-color: black;
}
.select {
    animation: found 2s forwards;
}
.hide {
    animation: gone 2s forwards;
    pointer-events: none;
}
@keyframes gone {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.5;
        transform: scale(0.5);
        transform-origin: center;
    }
}
@keyframes found {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
        transform-origin: center;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@media screen and (max-width: 1900px) {
    .solen svg {
        height: 200px;
        width: 200px;
    }
    .merk svg {
        height: 20px;
        width: 20px;
    }
    .venus svg {
        height: 40px;
        width: 40px;
    }
    .jord svg {
        height: 50px;
        width: 50px;
    }
    .mars svg {
        height: 30px;
        width: 30px;
    }
    .jupi svg {
        height: 120px;
        width: 120px;
    }
    .satur svg {
        height: 80px;
        width: 80px;
    }
    .anus svg {
        height: 70px;
        width: 70px;
    }
    .nept svg {
        height: 70px;
        width: 70px;
    }
}